@page "/ShowCredentials2"
@using System.Security.Claims


<!-- this page is an example on how to get our logged in user information in the code block so we can reuse it -->
<h3>ShowCredentials2</h3>


@if (isLoggedIn)
{
    <h3>Hello @name</h3>
    <p>
        Your claims include:
        
        <p>Your id: @id</p>
        <p>Your name: @name</p>
        <p>Your email: @email</p>
        <p>Your postalCode: @postalCode</p>
        <ol>
            @foreach (Claim claim in userClaims!)
            {
                <li>
                    <label>@claim.Type: @claim.Value</label>
                </li>
            }
        </ol>
        
    </p>
}
else
{
    <p>You are not logged in.</p>
}
@code {
   // this page is an example on how to get the logged in user information in the code block
    
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    private string? name;
    private string? id;
    private string? email;
    private string? postalCode;
    private IEnumerable<Claim>? userClaims;
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isLoggedIn = user.Identity != null;
        
        if (!isLoggedIn) return;
        
        userClaims = user.Claims;
        name = user.Identity!.Name!;
        email = user.FindFirst(ClaimTypes.Email)?.Value;
        id = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        postalCode = user.FindFirst(ClaimTypes.PostalCode)?.Value;
       
    }
}

